<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Issues Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Developer") || User.IsInRole("QA") || User.IsInRole("Project Manager"))
                        {

                            <li>@Html.ActionLink("Issues Tracker", "Index", "Issue", new { area = "" }, new {@style = "margin-left: -30px;", @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Kanban Board", "Index", "Board")</li>
                            if (User.IsInRole("Project Manager"))
                            {
                                <li>
                                    <a href="#" id="createProject">Create Project</a>
                                </li>
                            }
                        }
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("List of Users", "GetUserList", "Account", new { area = "" }, new { @style = "margin-left: -30px;", @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Manage or add roles", "Index", "Role")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            
        </div>

    </div>

    

    <div class="container body-content">
        @RenderBody()
    </div>

    <div id="createProjectModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="width:500px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Creation of new Project</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Input name for new Project:</p>
                    <input id="projectName" class="form-control" type="email" required="" placeholder="Name" oninvalid="this.setCustomValidity('Please Enter Name')"
                           oninput="setCustomValidity('')" />
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCreate" class="btn btn-success" data-dismiss="modal">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#createProject').click(function () {
            $("#createProjectModal").modal("show");
        });

        $('#btnCreate').click(function () {
            var prjName = $("#projectName").val();
            $.ajax({
                url: "/Project/CreateProject",
                type: "POST",
                data: { projectName: prjName },
                success: function (result) {
                    var check = '@(ViewBag.failedMassage == string.Empty ? true : false)';
                    var alertMassage = '@(ViewBag.failedMassage)';
                    if (check === 'False') {
                        alert(alertMassage);
                    }
                    $('#createProjectModal').modal('hide');
                },
                error: function () {
                    alert("There is some issues in the server");
                }
            });
        });
    </script>

</body>



</html>
