@model Issues_Tracker.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h3>Registration</h3>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Email</h4>
    <div>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <h4>Password</h4>
    <div>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <h4>Confirm Password</h4>
    <div>
        @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger", @style = "display:block" })
    </div>
    <input style="margin-top:20px" type="submit" class="btn btn-primary" value="Registr">
}

