@model Issues_Tracker.Project

@{
    ViewBag.Title = "Index";
}

<br />
<h3 style="margin-left:15px;">Choose project name:</h3>

<div class="container">
    <div class="row">
        <form role="form">
            <div style="margin-left:20px; margin-top:15px; margin-right:10px;" class="form-group">
                @if (ViewBag.isNull != 0)
                {
                    @Html.DropDownList("projectName", ViewBag.Projects as SelectList, "Select project",
                    new { @id = "project", @class = "form-control", @style = "max-width:none", onchange = @"form.submit();" })
                }
                else
                {
                    @Html.DropDownList("projectName", Enumerable.Empty<SelectListItem>(), "Select project",
                    new { @id = "project", @class = "form-control", @style = "max-width:none", onchange = @"form.submit();" })
                }
            </div>
        </form>
    </div>
</div>

<div style="position:page; height:100%" class="container">
    
    <div class="row">
        <div class="col-md-4">
            <h3>Backlog</h3>
            <br />
        </div>
        <div class="col-md-4">
            <h3>In Progress</h3>
            <br />
        </div>
        <div class="col-md-4">
            <h3>Done</h3>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div data-state="1" class="col-md-12 boardColumn">
                @foreach (var item in Model.Issues.Where(i => i.State.Id == 1).ToList())
                {
                    <div id="@item.Id" class="card">
                        <div class="card-body">
                            <p id="boardSummary"><span>@Html.DisplayNameFor(model => item.Summary):</span>  @Html.DisplayFor(model => item.Summary)  </p>
                            <p id="boardPriority"><span>@Html.DisplayNameFor(model => item.Priority):</span>  @Html.DisplayFor(model => item.Priority.Name)</p>
                            <p id="boardAssignee"><span>@Html.DisplayNameFor(model => item.User):</span> @Html.DisplayFor(model => item.User.Name) </p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-4">
            <div data-state="2" class="col-md-12 boardColumn">
                @foreach (Issue item in Model.Issues.Where(i => i.State.Id == 2))
            {
                    <div id="@item.Id" class="card">
                        <div class="card-body">
                            <p id="boardSummary"><span>@Html.DisplayNameFor(model => item.Summary):</span>  @Html.DisplayFor(model => item.Summary)  </p>
                            <p id="boardPriority"><span>@Html.DisplayNameFor(model => item.Priority):</span>  @Html.DisplayFor(model => item.Priority.Name)</p>
                            <p id="boardAssignee"><span>@Html.DisplayNameFor(model => item.User):</span> @Html.DisplayFor(model => item.User.Name) </p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-4">
            <div data-state="3" class="col-md-12 boardColumn">
                @foreach (var item in Model.Issues.Where(i => i.State.Id == 3).ToList())
                {
                    <div id="@item.Id" class="card">
                        <div class="card-body">
                            <p id="boardSummary"><span>@Html.DisplayNameFor(model => item.Summary):</span>  @Html.DisplayFor(model => item.Summary)  </p>
                            <p id="boardPriority"><span>@Html.DisplayNameFor(model => item.Priority):</span>  @Html.DisplayFor(model => item.Priority.Name)</p>
                            <p id="boardAssignee"><span>@Html.DisplayNameFor(model => item.User):</span> @Html.DisplayFor(model => item.User.Name) </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="noProjectModal" class="modal fade centered-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:400px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Something wrong</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Sorry, could not find projects</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var check = '@(ViewBag.isNull == 0 ? true : false)';
        if (check === 'True') {
            $("#noProjectModal").modal("show");
        }
    })

    $(function () {
        $(".boardColumn").sortable({
            revert: true,
            connectWith: ".boardColumn",
            receive: function (e, ui) {
                var id = ui.item.context.id;
                var newState = $(this).data("state");
                Drop(parseInt(id), parseInt(newState));
            }
        });

        var Drop = function (id, stateId) {
            $.ajax({
                type: "POST",
                url: "/Board/UpdateState",
                data: { issueId: id, stateId: stateId },
                success: function () {
                    window.location.href = "/Board/Index";
                }
            })
        }
    });

</script>
